* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    background-image: url(image/nen.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container styles */
  .signup_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  /* Heading styles */
  .signup_container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Input styles */
  .signup_container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Button styles */
  .signup_container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  /* Button hover effect */
  .signup_container button:hover {
    background-color: #0056b3;
  }
  
  /* Link styles */
  .signup_container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  /* Link hover effect */
  .signup_container a:hover {
    text-decoration: underline;
  }